.login {
  width: 100vw;
  height: 86vh;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
 
}

.login::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  /* z-index: -1; */
}

.login-container {
 width: 600px;
 position: absolute;
  height: 400px;
  display: flex;
  background-color: #f8f7f4;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
  /* border-radius: 20px; */
  /* align-items: center; */
  z-index: 10;
}

.signup-container{
  position: absolute;
  width: 600px;
  height: 500px;
  display: flex;
  background-color: #f8f7f4;
  display: flex;
  justify-content: center;
  box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* border-radius: 20px; */
  /* align-items: center; */
  z-index: 10;
}

.login-deets {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f8f7f4;
  /* background-color: aqua; */

}

.login-right{
  width: 250px;
  height: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B12F16;
  border-left: 1px solid grey;
}

.login-right img{
  width: 200px;
  height: 200px;
}

.login-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.email input,
.password input {
  outline: none;
  border: none;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  background-color: transparent;
  border-bottom: 1px solid #ed5167;
  color: #ed5167;
}

.password input:focus,
.email input:focus {
  background-color: #fff;
}

.login-links {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.login-links a {
  /* color: #ed5167; */
  color: #B12F16;
}

.login-links a:hover {
  color: pink;
}

.btn-login {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #B12F16; 
  color: pink;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease-in;
}

.btn-google{
  width: 100%;
  outline: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f7f4;
  color: grey;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-google img{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.btn-login:hover {
  opacity: 0.8;
}
