.main-header{
    /* background-color: #FBC9BA; */
    display: flex;
    padding: 20px 10px;
    position: sticky;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    /* box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2); */
}