nav{
  /* position: absolute;   */
  right: 0;
  top: 0;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  
}

ul{
    display: flex;
   
    /* background-color: blueviolet; */
   

}

.nav-buttons{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
    list-style: none;
    
}
.nav-avatar{
height: 50px;
width: 50px;
}

.search-form{
  background-color: pink;
  width: 700px;
}

.nav-icon{
  font-size: 2rem;
  color: black;
}

.cart-icon{
  position: relative;
  cursor: pointer;
  /* background-color: blue; */
}

.cart-notification{
  width: 20px;
  height: 20px;
  background-color: brown;
  color: white;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -11px;
  right: -10px;

}



