nav{
  /* position: absolute;   */
  right: 0;
  top: 0;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  
}

ul{
    display: flex;
    background-color: blueviolet;
    align-items: center;

}

li{
    list-style: none;
    
}
.nav-avatar{
height: 40px;
width: 40px;
}

.search-bar{
  background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-bar:hover > .search-input{
  width: 240px;
  padding: 0 6px;
}

.search-bar:hover > .search-button{
  background: white;
  color : #2f3640;
}

.search-button {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-input {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.search-box:hover > .search-input {
  width: 150px;
  padding: 0 6px;
}
}


