nav{
  /* position: absolute;   */
  right: 0;
  top: 0;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  
}

ul{
    display: flex;
   
    /* background-color: blueviolet; */
   

}

.nav-buttons{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
    list-style: none;
    
}
.nav-avatar{
height: 50px;
width: 50px;
}

.search-form{
  background-color: pink;
  width: 700px;
}

.nav-icon{
  font-size: 1.5rem;
  color: black;
}




